@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grunge {
    background-image: url('/grunge.jpg'), linear-gradient(to bottom, var(--tw-gradient-stops));
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: soft-light;
  }
}